<div class="wrapper">
  <div class="poke-wrap">
    <h1 class="poke-title">{{ pokemonData.name }}</h1>
    <div class="poke-data">
      <div class="poke-info">
        <div class="poke-species">
          <div class="poke-species-item">
            <h6 class="poke-species-title">Base Happiness:</h6>
            <span class="poke-species-value">{{ pokemonSpeciesData.base_happiness }}</span>
          </div>
          <div class="poke-species-item">
            <h6 class="poke-species-title">Growth Rate:</h6>
            <span class="poke-species-value">{{ pokemonSpeciesData.growth_rate }}</span>
          </div>
          <div class="poke-species-item">
            <h6 class="poke-species-title">Egg Groups:</h6>
            <span class="poke-species-value">{{ pokemonSpeciesData.egg_groups?.join(', ') }}</span>
          </div>
          <div class="poke-species-item">
            <h6 class="poke-species-title">Catch rate:</h6>
            <span class="poke-species-value">{{ pokemonSpeciesData.capture_rate }}</span>
          </div>
        </div>
        <div class="abilities">
          <h6 class="abilities-title">Abilities:</h6> 
          <span class="abilities-list">{{ pokemonData.abilities?.join(', ') }}</span>
        </div>
        <div>
          <table mat-table [dataSource]="pokemonData.stats" class="mat-elevation-z8">
            <ng-container matColumnDef="stat">
              <th mat-header-cell *matHeaderCellDef> Stat </th>
              <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>
          
            <ng-container matColumnDef="base">
              <th mat-header-cell *matHeaderCellDef> Base </th>
              <td mat-cell *matCellDef="let element"> {{element.base_stat}} </td>
            </ng-container>
          
            <ng-container matColumnDef="effort">
              <th mat-header-cell *matHeaderCellDef> Effort </th>
              <td mat-cell *matCellDef="let element"> {{element.effort}} </td>
            </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </div>
      </div>
      <div class="poke-imgs">
        <mat-tab-group>
          <mat-tab label="front"> <img [src]="pokemonData.imgPng" [alt]="pokemonData.name" class="poke-img"> </mat-tab>
          <mat-tab label="back"> <img [src]="pokemonData.imgPngBack" [alt]="pokemonData.name" class="poke-img"> </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </div>
  <button *ngIf="!isTracked" mat-flat-button color="primary" (click)="onAddBtn()" class="poke-btn">
    Add to Tracked
    <fa-icon class="add-icon" [icon]="faFolderPlus" size="xl"></fa-icon>
  </button>
  <button *ngIf="isTracked" mat-flat-button color="primary" (click)="onDeleteBtn()" class="poke-btn">
    Remove form Tracked
    <fa-icon class="delete-icon" [icon]="faFolderMinus" size="xl"></fa-icon>
  </button>
</div>